<h2>Welcome to Camptivities!</h2>
<br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<p>
  <%= form_for :camp_counselor, url: signin_path, method: :post do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Login" %>
  <% end %>
  <br>
  or
  <br>
  <br>
  <%= form_tag new_camp_counselor_path, method: :get do %>
  <%= submit_tag "Create an Account" %>
  <% end %>
</p>
