<h2>Welcome to Camptivities!</h2>
<br>

<%= render partial: 'layouts/flash_notice' %>

<p>
  <%= render partial: 'login_form' %>
  <br>
  or
  <br>
  <%= link_to('Log in with Facebook', '/auth/facebook') %>
  <br>
  <br>
  <%= form_tag new_camp_counselor_path, method: :get do %>
  <%= submit_tag "Create an Account" %>
  <% end %>
</p>
