<h2>Welcome to Camptivities!</h2>
<br>

<%= render partial: 'layouts/flash_notice' %>

<br>
<div class="fields_with_errors", id="form">
  <%= render partial: 'login_form' %>
</div>
<p>
  <%= form_tag new_camp_counselor_path, method: :get do %>
  <%= submit_tag "Create an Account" %>
  <% end %>
  <br>
  or
  <br>
</p>
  <div>
  <%= link_to('Log in with Facebook', '/auth/facebook') %>
  </div>
