<h3><%= counselor.name %></h3>

<p>
  Email: <%= counselor.email %>
  <br>
  Age: <%= counselor.age %>
  <br>
  <br>
  <br>
  <% if counselor.admin %>
  <em><%= "You have a Camp Admin account" %></em>
  <% end %>
  <br>
  <%= link_to "Edit Your Profile", edit_camp_counselor_path(:current_user) %>
  <br>
  <br>
  <br>
  <br>
  Here are the activities you signed up for:
  <br>
  <% if counselor.activities %>
    <% counselor.activities.each do |activity| %>
      <br>
      <strong><em><%= activity.name %></em></strong>
      <br>
      <%= camp_name(activity) %>
      <br>
      <%= activity.description %>
      <br>
    <% end %>
  <% else %>
    You have not signed up for any activities yet...
  <% end %>
  <br>
  <%= link_to "View All Your Assignments", camp_counselor_assignments_path(counselor) %>
  <br>
  <br>
  <br>
  <br>
  Camps you are associated with:
  <br>
  <% counselor.camps.each do |camp| %>
    <br>
    <strong><em><%= camp.name %></em></strong>
    <br>
    <%= camp.location %>
    <br>
  <% end %>
</p>
<br>
<br>
