<h2>Update Your Camp Counselor Profile:</h2>
<br>
<%= form_for @counselor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br><br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br><br>
  <%= f.label(:leader, "I'm a Camp Leader") %>
  <%= f.radio_button(:leader, true) %>
  <br>
  <%= f.label(:leader, "I'm a Camp Counselor") %>
  <%= f.radio_button(:leader, false) %>
  <br><br>
  <%= f.submit "Update Profile" %>
<% end %>
