<h2>Update Your Camp Counselor Profile:</h2>
<br>
<%= form_for @counselor, html: { autocomplete: "off" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>
  <%= f.radio_button(:admin, true) %>
  <%= f.label(:admin, "Camp Admin") %>
  <br><br>
  <%= f.submit "Update Profile" %>
<% end %>
