<h2>Create Your Camp Counselor Profile:</h2>
<br>
<div class="fields_with_errors", id="form">
<%= form_for @counselor, html: { autocomplete: "off" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>
  <br>
  <%= f.label(:admin, "Camp Admin") %><br>
  <%= f.radio_button(:admin, true) %>Yes
  <%= f.radio_button(:admin, false) %>No
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "Create Profile" %>
<% end %>
</div>
