<h2>Camp Counselor Profile Page</h2>
<br>
<h3><%= @counselor.name %></h3>
<p>
  <%= @counselor.age %> years old
  <br>
    <% if @counselor.leader %>
    <%= "You are a Leader" %>
    <% end %>
    <br>
  <br>
  Here is a list of your assignments:
  <br>
  <% if @assignments %>
    <% @assignments.each do |assignment| %>
      <%= link_to assignment.activity.name, assignment_path(assignment) %>
      <br>
    <% end %>
  <% elsif !@assignments %>
    <%= "You have no assignments yet" %>
  <% end %>
</p>
