<h2>Camp Counselor: <%= @counselor.name %></h2>

<p>
  <%= @counselor.name %>
  <br>
  <%= @counselor.age %> years old
  <br>
    <%= return "#{@counselor.name} is a Leader" if @counselor.leader %>
  <br>
  Here is a list of your assignments:
  <%= @assignments.each do |assignment| %>
    <%= link_to assignment.name, assignment_path(assignment) %>
    <br>
  <% end %>
</p>
