<h2>Camp Counselor Profile Page</h2>
<br>
<h3><%= @counselor.name %></h3>
<br>
<p>
  Email: <%= @counselor.email %>
  <br>
  <br>
  Age: <%= @counselor.age %> years old
  <br>
  <br>
  <% if @counselor.admin %>
    <%= "You have a Camp Admin account" %>
  <% end %>
  <br>
  <br>
  Here are all of your assignments:
  <br>
  <% if @counselor.assignments %>
    <% @counselor.assignments.each do |assignment| %>
      <%= link_to assignment.activity.name, assignment_path(assignment) %>
      <br>
    <% end %>
  <% else %>
    <%= "You have no assignments yet" %>
  <% end %>
</p>
