<h2>Camp Counselor: <%= @counselor.name %></h2>

<p>
  Name:     <%= @counselor.name %>
  <br>
  Age:      <%= @counselor.age %>
  <br>
  Leader:   <%= @counselor.leader %>
  <br>
</p>
<p>
  What would you like to do?
  <br>
  <%= link_to "View Activities", activities_path %>
  <br>
  <%= link_to "View Available Assignments", assignments_path %>
  <br>
  <%= link_to "Update Your Profile", edit_camp_counselor_path %>
</p>
<br>
<br>
<%= link_to "Log Out", logout_path %>
