<% if counselor %>
  <h2>Assignments for <%= counselor.name %></h2>
  <br>
  <br>
  <% assignments.each do |assignment| %>
    <div class="linkstyle">
      <h3 style="font-weight:500;"><%= assignment.activity.name %></h3>
      </div>
      <p>
      <strong>
        <%= assignment.activity.description %>
      </strong>
      <br>
      <br>
      <% if assignment.rating == 0 %>
        How was this assignment?
        <%= form_for assignment do |f| %>
          <%= f.submit "Submit Rating" %> 1
          <%= f.radio_button :rating, '1' %>
          <%= f.radio_button :rating, '2' %>
          <%= f.radio_button :rating, '3' %>
          <%= f.radio_button :rating, '4' %>
          <%= f.radio_button :rating, '5' %> 5
        <% end %>
      <% else %>
        <em>Fun Rating: <%= assignment.rating %></em>
      <% end %>
      <br>
      <br>
      <br>
    </p>
  <% end %>
<% else %>
  <h2>Available Assignments</h2>
  <br>
  <br>
  <% camps.each do |camp| %>
    <br>
    <h3 style="font-weight:500;"><%= camp.name %></h3>
    <br>
    <% camp.assignments.each do |assignment| %>
      <% if assignment.filled==false %>
        <div class="linkstyle">
        <%= assignment.activity.name %>
        </div>
        <p>
          <%= assignment.activity.description %>
          <br>
          <em>
          <%= form_for assignment do |f| %>
          <%= f.hidden_field :camp_counselor_id, :value => current_user.id %>
          <%= f.hidden_field :activity_id, :value => assignment.activity.id %>
          <%= f.hidden_field :filled, :value => true %>
          <%= f.submit "Take this Assignment" %>
          <% end %>
          </em>
          <br>
          <br>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
