<h2>Update an Assignment for an Activity:</h2>
<br>
<%= form_for @assignment do |f| %>
  <%= f.label :activity_id, "Choose the Activity for this Assignment" %>
  <% if params[:activity_id] %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, {:selected => params[:activity_id]} %>
  <% else %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, include_blank: "Choose One" %>
  <% end %>
  <%= f.label :rating, "Rating: " %>
  <%= f.number_field :rating, in: 1..5 %>
  <br>
  <br>
  <%= f.submit "Update Assignment" %>
<% end %>
<br>
