<% if @counselor %>
  <h2>Assignments for <%= @counselor.name %></h2>
<% else %>
  <h2>Assignments for <%= @activity.name %></h2>
<% end %>
<br>
<br>
<% @assignments.each do |assignment| %>
  <h3><%= assignment.activity.name %></h3>
  <em>
  <% if !assignment.filled %>
    <%= link_to "(This assignment is open)", assignment_path(assignment) %>
  <% end %>
  </em>
  <p>
    <%= assignment.activity.description %>
    <br>
    <br>
    Fun Rating: <%= assignment.rating %>
    <br>
    <br>
    <br>
  </p>
<% end %>
