<% if @counselor %>
  <h2>Assignments for <%= @counselor.name %></h2>
  <br>
  <br>
  <% @assignments.each do |assignment| %>
    <p>
      <strong>
      <%= assignment.activity.name %>
      </strong>
      <br>
      <%= assignment.activity.description %>
      <br>
      <br>
      <% if assignment.rating == nil %>
        <%= form_for assignment do |f| %>
          <%= f.label :rating, "Rating: " %> 1
          <%= f.radio_button :rating, '1' %>
          <%= f.radio_button :rating, '2' %>
          <%= f.radio_button :rating, '3' %>
          <%= f.radio_button :rating, '4' %>
          <%= f.radio_button :rating, '5' %> 5
          <br>
          <br>
          <%= f.submit "Update Assignment" %>
        <% end %>
      <% else %>
        Fun Rating: <%= assignment.rating %>
      <% end %>
      <br>
      <br>
      <br>
    </p>
  <% end %>
<% else %>
  <h2>All Open Assignments</h2>
  <br>
  <br>
  <% @assignments.each do |assignment| %>
    <p>
      <% if assignment.filled==false %>
        <strong>
        <%= assignment.activity.name %>
        </strong>
        <br>
        <%= assignment.activity.description %>
        <br>
        <%= form_for assignment do |f| %>
        <%= f.hidden_field :camp_counselor_id, :value => current_user.id %>
        <%= f.hidden_field :filled, :value => true %>
        <%= f.submit "Take this Assignment" %>
        <% end %>
        <br>
      <% end %>
    </p>
  <% end %>
<% end %>
