<h2>Create an Assignment for an Activity:</h2>
<br>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<%= form_for @assignment do |f| %>
  <%= f.label :activity_id, "Choose the Activity for this Assignment" %>
  <% if params[:activity_id] %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, {:selected => params[:activity_id]} %>
  <% else %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, include_blank: "Choose One" %>
  <% end %>
  <br>
  <br>
  <%= f.submit "Create Assignment" %>
<% end %>
<br>
