<h1>Create an Assignment for an Activity:</h1>
<br>
<%= form_for @assignment do |f| %>
  <%= f.label :activity_id, "Choose the Activity for this Assignment" %>
  <%= f.collection_select :activity_id, Activity.all, :id, :name, include_blank: "Choose One" %>
  <br>
  <br>
  <%= f.radio_button(:leader_needed, true) %>
  <%= f.label(:leader_needed, "Counselor must be 18 or older") %>
  <br>
  <%= f.radio_button(:leader_needed, false) %>
  <%= f.label(:leader_needed, "Counselor must be under 18") %>
  <br>
  <br>
  <%= f.submit "Create Assignment" %>
<% end %>
<br>
