<h2>Assignment for <%= @activity.name %></h2>
<br>
<p>
  <%= @activity.description %>
  <br>
  <% if @assignment.filled %>
    <%= "This assignment has been filled" %>
  <% else %>
    <%= "This assignment is still open" %>
    <%= form_for @assignment do |f| %>
    <%= f.hidden_field :camp_counselor_id, :value => @current_user.id %>
    <%= f.hidden_field :filled, :value => true %>
    <%= f.submit "Signup to Oversee This Activity!" %>
    <% end %>
  <% end %>
</p>
