<h2><%= @camp.name %></h2>
<br>
<%= @camp.location %>
<br>
<%= @camp.description %>
<br>
<%= @camp.activities.each do |activity| %>
  <p>
    <%= link_to activity.name, activity_path %>
    <br>
    <br>
    <%= activity.description %>
    <br>
    Fun Rating: <%= activity.assignments.average(:rating) %>
    <br>
  </p>
  <%= render partial: 'activities/activity_availability', locals: {assignments: activity.assignments} %>
  <br>
  <br>
<% end %>
