<% if camp %>
  <% camp.activities.each do |activity| %>
    <p>
      <%= link_to activity.name, activity_path(activity) %>
      <br>
      <br>
      <%= activity.description %>
      <br>
      Fun Rating: <%= activity.assignments.average(:rating) %>
      <br>
    </p>
    <%= render partial: 'activities/activity_availability', locals: {assignments: activity.assignments} %>
    <br>
    <br>
  <% end %>
  <br>
  <br>
<% else %>
  <% camps.each do |camp| %>
    <h3 style="font-weight:500;"><%= camp.name %></h3>
    <% camp.activities.each do |activity| %>
      <p>
        <strong>
          <%= link_to "#{activity.name}", activity_path(activity) %>
        </strong>
        <br>
        <br>
        <%= activity.description %>
        <br>
        <br>
        <br>
      </p>
    <% end %>
    <br>
  <% end %>
<% end %>
