<h2>Update <%= @activity.name %> Activity:</h2>
<br>
<%= form_for @activity do |f| %>
  <%= @activity.name %>
  <br>
  <%= f.label :description, "Description" %>
  <br>
  <%= f.text_area :description, size: "50x10" %>
  <br>
  <%= f.submit "Update Activity" %>
<% end %>
<% if @current_user.admin %>
  <%= link_to "Delete Activity", @activity, method: :delete, data: { confirm: "Delete This Activity?" } %>
<% end %>
