<h2>Update <%= @activity.name %> Activity:</h2>
<br>
<%= form_for @activity do |f| %>
  <%= f.label :name, "Activity Name" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description, "Description" %>
  <br>
  <%= f.text_area :description, size: "36x5" %>
  <br>
  <%= f.submit "Update Activity" %>
<% end %>
