<h2>Create a New Activity:</h2>
<br>

<%= render partial: 'layouts/flash_notice' %>

<br>
<div class="fields_with_errors", id="form">
<%= form_for @activity do |f| %>
  <%= f.label :name, "Activity Name" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description, "Description" %>
  <br>
  <%= f.text_area :description, size: "50x10" %>
  <br>
  <%= f.submit "Create Activity" %>
<% end %>
</div>
