<h3 style="text-align:center; font-weight:400;"><%= @activity.camp.name %></h3>
<h2><%= @activity.name %></h2>

<div style="text-align:center">
  <%= activity_edit_link %>
</div>
<br>
<br>
<h3><%= @activity.description %></h3>
<p>
  Fun Rating: <%= @activity.assignments.average(:rating) %>
  <br>
</p>
Availability: 
<%= render partial: 'activity_availability', locals: {assignments: @assignments} %>
<br>
<br>
<br>
<br>
What others have to say about <%= @activity.name %>:
<br>
<br>
<br>
<div style="text-align:center; color:grey">
<% @comments.each do |comment| %>
  <strong><%= comment.title %></strong>
  <br>
  <em>"<%= comment.content %>"</em>
  <br>
  <% if comment.camp_counselor_id %>
  <em style="font-size:12px; color:black">
  posted by: <%= CampCounselor.find_by(id: comment.camp_counselor_id).name %>
  </em>
  <% end %>
  <br>
  <br>
<% end %>
</div>
<br>
<br>
<br>
<br>
Share your comments about <%= @activity.name %>:
<br>
<br>
<div class="fields_with_errors", id="form">
  <%= form_for :comment, url: comments_path, method: :post do |f| %>
    <%= f.label :title, "Title" %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.hidden_field :activity_id, value: @activity.id %>
    <%= f.hidden_field :camp_counselor_id, value: current_user.id %>

    <%= f.label :content, "Comments" %>
    <br>
    <%= f.text_area :content, size: "50x10" %>
    <br>
    <%= f.submit "Submit Comment" %>
  <% end %>
</div>
<br>
<br>
