<h2><%= @activity.name %></h2>
<br>
<p>
  <%= @activity.description %>
  <br>
  Counselors Needed for this Activity: <%= @activity.counselors_needed %>
  <% form_for @assignment do |f| %>
  <%= f.hidden_field :camp_counselor_id, :value => @current_counselor.id %>
  <%= f.submit "Signup to Oversee This Activity!" %>
  <% end %>
</p>
