<h2>Activity Page</h2>
<br>
<h3><%= @activity.name %></h3>
<br>
<p>
  <%= @activity.description %>
  <br>
  <br>
  <%= @activity.assignments.length %>
  <br>
  <%= link_to "View All Assignments for This Activity", activity_assignments_path(@activity) %>
  <br>
  <br>
  <%= link_to "Update this Activity", edit_activity_path(@activity) %>
</p>
