<h2><%= @activity.name %></h2>
<h3 style="text-align:center; font-weight:400;"><%= @activity.camp.name %></h3>
<br>
<br>
<h3><%= @activity.description %></h3>
<p>
  <br>
  Fun Rating: <%= @activity.assignments.average(:rating) %>
  <br>
</p>
<br>
<%= render partial: 'activity_availability', locals: {assignments: @assignments} %>
<br>
<br>
<%= activity_edit_link %>
