<h2>Camp Activity Page</h2>
<br>
<h3><%= @activity.name %></h3>
<p>
  <%= @activity.description %>
  <br>
  <br>
  <% if @assignment %>
    <%= form_for @assignment do |f| %>
      <%= f.hidden_field :camp_counselor_id, :value => @current_user.id %>
      <%= f.hidden_field :activity_id, :value => @activity.id %>
      <%= f.hidden_field :filled, :value => true %>
      <%= f.submit "Signup to Oversee This Activity!" %>
    <% end %>
  <% else %>
    <%= "This activity has no open assignments" %>
    <br>
    <%= link_to "Create an Assignment", new_activity_assignment_path(@activity) %>
    <br>
    <br>
    <%= link_to "Update this Activity", edit_activity_path(@activity) %>

  <% end %>
</p>
