<h2><%= @activity.name %></h2>
<br>
<h3><%= @activity.description %></h3>
<p>
  <br>
  Fun Rating: <%= @activity.assignments.average(:rating) %>
  <br>
</p>
<br>
<% @assignments.each do |assignment| %>
  <em>
  <% if !assignment.filled %>
    <%= link_to "Sign Up For This Assignment", assignment_path(assignment) %>
    <br>
  <% else %>
    <%= "One Assignment is Full" %>
    <br>
  <% end %>
  </em>
<% end %>

<br>
<br>
<%= activity_edit_link %>
