<!DOCTYPE html>
<html>
  <head>
    <title>Camptivities</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<section class="todoapp">
			<header class="header">
        Camptivities
			</header>
      <%= yield %>
			<footer>
				<p class="footer_header">What would you like to do?</p>
				<p>
          <%= link_to "View All Activities", activities_path %>
          <%= link_to "View All Assignments", assignments_path %>
          <br>
          <% if logged_in? %>
            <% if current_user.admin %>
              <%= link_to "Create an Activity", new_activity_path %>
              <%= link_to "Create an Assignment", new_assignment_path %>
            <% end %>
            <br>
            <%= link_to "View Your Profile", camp_counselor_path(:current_user) %>
            <br>
            <%= link_to "Edit Your Profile", edit_camp_counselor_path(:current_user) %>
            <br>
            <%= link_to "Log Out", logout_path %>
          <% end %>
				</p>
			</footer>
    </section>
  </body>
</html>
