<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProjectCamptivitiesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
			<section class="todoapp ng-scope">
				<header class="header">
          Camptivities
				</header>
			</section>
      <%= yield %>
			<footer class="info ng-scope">
				<p>What would you like to do?</p>
				<p>Credits:
          <%= link_to "View Available Activities", activities_path %>
          <%= link_to "View Available Assignments", assignments_path %>
          <% if logged_in? %>
            <% if current_counselor.leader %>
              <%= link_to "Create an Activity", new_activity_path %>
              <%= link_to "Create an Assignment", new_assignment_path %>
            <% end %>
          <% end %>
          <%= link_to "View Your Profile", camp_counselor_path(:current_counselor) %>
          <br>
          <%= link_to "Log Out", logout_path %>
				</p>
				<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			</footer>

  </body>
</html>
