<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProjectCamptivitiesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    What would you like to do?
    <br>
    <%= link_to "View Activities", activities_path %>
    <br>
    <%= link_to "View Available Assignments", assignments_path %>
    <br>
    <%= link_to "View Your Profile", camp_counselor_path(:current_counselor) %>
    </p>
  </body>
</html>
